*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#top_div{
    background-color: lightblue;
    display: flex;
    align-items: center;
    height: 50px;
}

#top_ul li {
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    color:black;
    display: inline;
}

#countdown{
    padding-left: 250px;
}

#name{
    padding-left: 205px;
}

#highscore{
    padding-left: 250px;
}



#container{
    margin: auto;
    margin-top: 100px;
    height: 50%;
    border: 0px solid black;    
    display: flex;
    flex-wrap: wrap;
}

.box{
    margin: 0.05vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mem{
    border-radius: 10px;
    margin: 0.05vw;
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.flipped{
    border-radius: 10px;
    margin: 0.05vw;
    width: 100px;
    height: 100px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.hiddenImage{
    width: 95px;
    height: 95px;
    visibility: hidden;
    
}